@keyframes ani-bgc {
  from {
    background-color: var(--bgc-before);
  }
  to {
    background-color: var(--bgc-after);
  }
}
@keyframes bg {
  from {
    background-color: #bbf1d9;
  }
  to {
    background-color: #b2ebf2;
    border-radius: 50%;
  }
}
@keyframes glasses {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(5px, -5px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes glass {
  0% {
    background-color: transparent;
    transform: translate(0, 0);
  }
  50% {
    background-color: #4d342fee;
    transform: translate(5px, -5px);
  }
  100% {
    background-color: transparent;
    transform: translate(0, 0);
  }
}
@keyframes pixel {
  0% {
    border-radius: 0;
  }
  50% {
    border-radius: 50%;
    transform: scale(20%, 20%) rotate(1turn);
  }
  80% {
    border-radius: 50%;
    transform: scale(20%, 20%) translate(0, 200%);
  }
  100% {
    border-radius: 50%;
    transform: scale(12%, 12%) translate(0, -235px) rotate(15deg);
  }
}

.animation {
  display: grid;
  width: 360px;
  height: 360px;
  background-size: contain;
  grid-template-columns: repeat(24, 1fr);
  grid-auto-rows: calc(100% / 24);
  animation: pixel 2s forwards 2.5s;
  overflow: hidden;
}
.animation-done {
  border-radius: 50%;
  transform: scale(12%, 12%) translate(0, -235px) rotate(15deg);
  animation: none;
  .glass::after {
    animation: none;
  }
}
.bg {
  animation: bg 1s both alternate infinite 1.5s;
}
.hair {
  --bgc-before: #212121;
  --bgc-after: #fec107;
  animation: ani-bgc 2s steps(4) both 0.5s;
}
.hair-light {
  --bgc-before: #579089;
  --bgc-after: #ffc928;
  animation: ani-bgc 2s steps(8) both 0.5s;
}
.hair-dark {
  --bgc-before: #273238;
  --bgc-after: #ffb200;
  animation: ani-bgc 2s steps(8) both 0.5s;
}
.face {
  --bgc-before: #b2dfdc;
  --bgc-after: #ffccbb;
  animation: ani-bgc 1s steps(6) both 0.5s;
}
.face-dark {
  --bgc-before: #80cbc4;
  --bgc-after: #ffab91;
  animation: ani-bgc 1s steps(6) both 0.5s;
}
.lip {
  --bgc-before: #fec107;
  --bgc-after: #ff8a66;
  animation: ani-bgc 2s steps(8) both 0.5s;
}
.nose {
  --bgc-before: #4dd0e2;
  --bgc-after: #ffab91;
  animation: ani-bgc 2s steps(8) both 0.5s;
}
.shirts {
  --bgc-before: #4cb6ac;
  --bgc-after: #0e47a1;
  animation: ani-bgc 2s steps(10) both 0.5s;
}
.shirts-dark {
  --bgc-before: #00887a;
  --bgc-after: #1564c0;
  animation: ani-bgc 2s steps(8) both 0.5s;
}
.glasses {
  background-color: #fbe9e7;
  animation: glasses 1s both 2 1.8s;
  --bgc-after: #fbe9e7;
}
.glass::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  animation: glass 1s both 2 1.8s;
}
.eye {
  background-color: #4d342f;
  --bgc-after: #4d342f;
}
